body {
	/*background-image: url('/Media/Images/GreenBlur1.jpg');
	*/
	background-color: #3A89BD;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}


nav {
	/*background-color: #1e847b;*/
	background-color: #2980B9;
}

nav ul a {
	font-size: 1.2rem;
}

.BranchWrapper {
	margin-bottom: 2,5px;
	padding-left: 5px;
	padding-right: 5px;
}

.BranchWrapper a {
	color: black;
}

.branch {
	opacity: 0.9;
	background: white;

	padding: 10px;
	height: 500px;
}

.branch:hover {
	/*background: #4db6ac;*/
	background: #3E95CE;
	color: white;
	cursor: pointer;
}

h3 {
	font-size: 30px;
	text-align: center;
}

h4 {
	margin: 0px;
}

.boxicon {
	margin: 0 auto;
	
	position: relative;
}

.menu {
	width: 100%;
	height: 15%;
	background-color: white;
}

.icon {
	width: 95px;
	height: 100%;
	margin: 0px 0px 0px 0px;
	display: inline-block;
}

.ramus {
	width: 70px;
	height: 100%;
}

.row {
	padding-bottom: -5px;
	padding-top: 5px;
}

.row .col {
	padding: 8px;
}


/*
// Tablets
@media only screen and (max-width: 601px) {
	body {
		background-color: lime;
	}
}

// Desktop
@media only screen and (max-width: 993px) {
	body {
		background-color: cyan;
	}
}
*/