body {
	background-color: #3A89BD;
}


nav {
	background-color: #2980B9;
}

nav ul a {
	font-size: 1.2rem;
}

.Branchquestion {
	position: relative;
	opacity: 0.9;
	background: white;
	padding: 10px;
}
.ramus {
	width: 70px;
	height: 100%;
}
p {
	font-size: 10px;
}

.row {
	padding-bottom: -5px;
	padding-top: 5px;
}

.row .col {
	padding: 8px;
}
.buttons {
	width: 90%;
	height: 90%;
	position: absolute;
	z-index: 100;
	padding: 0px;
	margin:0px;
}
